.about {
  outline: 2px solid #000000;
}

.about__title {
  @include titles;
}

.about__list {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;

  list-style: none;
}
