.button {
  display: block;
  padding: 14px 0px;
  width: 256px; //Временно.

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  font-family: $main-font;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border: 2px solid #444444;
}

.button:hover {
  background-color: #444444;
  color: #ffffff;
}

.button:active {
  color: #8d8d8d;
}

.button--add {
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
}

.button--form {
  width: 100%;
  padding: 13px 0px;

  margin-bottom: 55px;
  background-color: #ffffff;
}

.button__index--contacts {
  position: absolute;
  bottom: 0;

  width: 260px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: $tablet-widths) {
  .button--catalog-order {
    width: 580px;
  }

  .button__index--order {
    width: 290px;
  }

  .button__index--review {
    width: 166px;
    order: 2;
    align-self: baseline;
    margin-top: 80px;
  }

  .button__index--contacts {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    width:235px;
    margin-bottom: 55px;
  }

  .button--form {
    width: 230px;
  }
}

@media (min-width: $desktop-widths) {
  .button--catalog-order {
    width: 230px;
    margin-bottom: 60px;
  }

  .button__index--contacts {
    position: static;

    width:235px;
    margin: 0;
  }

  .button--form {
    margin-left: 175px;
  }
}
