.contacts {
  position: relative;
  padding-bottom: 130px;
  margin-top: 45px;
}

.contacts__wrapper {
  @include container;
}

.contacts__title {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.contacts__text {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin: 0;

  font: $regular-font;
}

.contacts__name {
  width: 70px;
  padding-right: 10px;

  font: $regular-font;
}

.contacts__mail,
.contacts__adress {
  display: block;
  width: 142px;

  text-decoration: none;
  color: #000000;
}

.contacts__mail {
  width: 180px;
  border-bottom: 2px solid #62d1ba;
}

.contacts__mail:hover {
  color: #62d1ba;
}

.contacts__mail:focus {
  color: #d9f0eb;
  border-color: #d9f0eb;
}

@media (min-width: $tablet-widths) {
  .contacts {
    margin-top: 65px;
    padding-bottom: 160px;
  }

  .contacts__list {
    display: flex;
  }

  .contacts__title {
    margin-bottom: 55px;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__text {
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__adress {
    width: 220px;
  }

  .contacts__mail {
    width: 210px;
  }
}

@media (min-width: $desktop-widths) {
  .contacts {
    @include container;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .contacts__wrapper {
    padding-left: 175px;
    width: 350px;
    margin: 0;
    padding-right: 0;
  }

  .contacts__title  {
    margin-top: 80px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
  }

  .contacts__text {
    margin-bottom: 40px;
  }
}
