.contacts {
  outline: 2px solid #000000;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.contacts__text {
  font: $regular-font;
}

.contacts__name {
  font: $regular-font;
}
