.contacts {
  margin-top: 94px;
}

.contacts__wrapper {
  @include container;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.contacts__text {
  display: inline-block;

  font: $regular-font;
}

.contacts__name {
  width: 70px;

  font: $regular-font;
}

.contacts__adress {
  display: block;
}
