.form-group {
  border: none;
  margin: 0;
  padding: 0;
}

.form-group__caption {
  display: block;
  padding: 17px 0;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.form-group__title {
  display: block;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  font-family: $main-font;
  text-transform: uppercase;
  color: #63d1bb;
}

.form-group__text {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  font-family: $main-font;
}

@media (min-width: $tablet-widths) {
  .form-group__wrapper {
    display: flex;
  }

  .form-group__title {
    width: 167px;
  }

  .form-group__item {
    display: flex;
    flex-direction: column;

      &--color {
        width: 501px;
        flex-direction: row;
        flex-wrap: wrap;
      }

      &--info {
        flex-wrap: wrap;
      }
  }

  .form-group__caption {
    padding-left: 80px;

      &--color {
        width: 145px;
      }
  }

  .form-group__text {
    order: 2;
  }
}

@media (min-width: $desktop-widths) {
  .form-group__title--type,
  .form-group__title--color,
  .form-group__title--info {
    padding-top: 65px;
  }
}
