.main-products__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 30px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #ffffff;
  text-decoration: none;
}
.main-products__link--interior {
  background-color: #63d1bb;
}

.main-products__link--toys {
  background-color: #56c3b2;
}

@media (min-width: $tablet-widths) {
  .main-products {
    @include container;
    display: flex;

  }

  .main-products__link {
    width: 50%;
    padding: 35px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-widths) {
  .main-products {
    @include container;
  }

}
