.main-nav {
  position: relative;

  width:100%;
  min-height: 80px;
  margin: 0 auto;

  background-color: #ffffff;
}

.main-nav__toggle {
  position: absolute;
  top: 25px;
  right: -9px;
  z-index: 100;

  display: block;
  width: 22px;
  height: 22px;
  padding: 20px;

  font-size: 0;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--closed .main-nav__toggle {
  background-image: url(../img/icon-menu-open.svg);
}

.main-nav--opened .main-nav__toggle {
  background-image: url(../img/icon-menu-close.svg);
}

.main-nav__item {
  min-height: 80px;

  border-top: 1px solid #ececec;
}
.main-nav__list  {
  margin: 0;
  padding: 0;
  width: 100%;

  list-style: none;
  background-color: #ffffff;
}

.main-nav__link {
  position: relative;

  display: block;
  width: 187px;
  margin: 0 auto;
  padding: 28px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.main-nav__link:hover {
  color: #8d8d8d;
}

.main-nav__link:focus {
  color: #cacaca;
}

.main-nav__link--search-icon,
.main-nav__link--basket-icon {
  display: none;
}

.main-nav__link--user::before {
  position: absolute;
  top: 28px;
  left: 0;
  content: "";

  width: 22px;
  height: 22px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--closed .main-nav__user-items {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;

    height: auto;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }

  .main-nav__item--delivery {
    display: none;
  }

  .main-nav__item {
    text-align: left;
  }

  .main-nav__link {
    padding-left: 45px;
  }

  .main-nav__item--new,
  .main-nav__item--sale {
    display: none;
  }

  .main-nav__link--search::before {
    position: absolute;
    top: 28px;
    left: 0;
    content: "";

    width: 22px;
    height: 22px;

    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-widths) {
  .main-nav {
    width: 668px;
    min-height: 90px;
    background-color: transparent;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    background-color: transparent;
  }

  .main-nav__link {
    padding: 0;
    padding-top: 17px;
    padding-bottom: 20px;
    width: 167px;

    font-size: 15px;
    line-height: 24px;

    background-color: transparent;
  }
  .main-nav__item--user {
    text-align: right;
  }

  .main-nav__link--user {
    width: 265px;
    padding: 33px 0;

    font-size: 17px;
    line-height: 24px;
    order: 1;
  }

  .main-nav__link--search {
    display: none;
  }

  .main-nav__item {
    width: 167px;

    border: none;
  }

  .main-nav__item--delivery {
    order: 2;
    margin-top: 17px;

    font-size: 15px;
    line-height: 24px;
    font: $main-font;
    color: #444444;
  }

  .main-nav__item--catalog,
  .main-nav__item--order {
    order: 2;

    text-align: left;
  }

  .main-nav__item--search {
    width: 83px;
  }

  .main-nav__item--delivery {
    display: block;
    width: 334px;

    text-align: right;
  }

  .main-nav__item--new,
  .main-nav__item--sale {
    display: none;
  }

  .main-nav__item--search {
    box-sizing: border-box;
    height: 90px;

    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    background-position: 31px 38px;
  }

  .main-nav__link--search-icon {
    display: block;
    padding: 10px;
    width: 60px;
    height: 60px;

  }

  .main-nav__link--user::before {
    top: 35px;
    left: 30px;
  }
}

@media (min-width: $desktop-widths) {
  .main-nav {
    width: 1050px;
    height: 80px;
  }

  .main-nav__item {
    width: 220px;
  }

  .main-nav__item--catalog,
  .main-nav__item--order {
    margin-top: 10px;
    order: 0;
  }

  .main-nav__link--catalog,
  .main-nav__link--order {
    font-size: 17px;
    line-height: 24px;
  }

  .main-nav__item--search {
    width: 83px;
    order: 2;

    background-position: 29px 32px;
  }

  .main-nav__item--user {
    width: 264px;

    order: 3;
  }

  .main-nav__link {
    margin: 0;
  }

  .main-nav__link--user {
    padding: 27px 0;
  }

  .main-nav__link--user::before {
    top: 26px;
    left: 28px;
  }

  .main-nav__item--new,
  .main-nav__item--sale {
    display: block;
    order: 4;
  }

  .main-nav__link--new,
  .main-nav__link--sale {
    padding-top: 12px;
  }

  .main-nav__item--delivery {
    margin-top: 12px;
    order: 5;
    flex-grow: 1;

  }
}
