.main-products__categories {
    width: auto;
}

.main-products__topic {
  padding: 30px;
  min-height: 40px;
}

.main-products__link {
  display: block;
  width: 130px;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #ffffff;
  text-decoration: none;
}
.main-products--interior {
  display: block;

  background-color: #63d1bb;
}

.main-products--toys {
  display: block;

  background-color: #56c3b2;
}
