.order-form {
  @include container;
}

.order-form__text {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  font-family: $main-font;
}

@media (min-width: $tablet-widths) {
  .order-form__text {
    font-size: 17px;
    line-height: 30px;

    margin-bottom: 60px;
  }

  .order-form__submit {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    order: 1;
  }
}

@media (min-width: $desktop-widths) {
  .order-form__text {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
