.page-footer {
  background-color: #f1f1f1;
  width: 100%;
}

.page-footer__wrapper {
  @include container;
  margin: 0 auto;
}

.page-footer__text {
  padding-right: 30px;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.page-footer__copyright {
  position: relative;
  display: flex;

  margin: 0;
  margin-top: 25px;
  padding-bottom: 39px;
  margin-left: 38px;
}

.page-footer__logo {
  display: none;
}

.page-footer__icon-link {
  position: absolute;
  right: 29px;
  top: -11px;

  display: block;
  width: 43px;
  height: 35px;

  color: #63d1bb;
}

.page-footer__icon-link:hover {
  color: #46c1ae;
}

.page-footer__icon-link:active {
  color: #bde3dd;
}

.page-footer__developer-logo {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-widths) {
  .page-footer__logo {
    display: block;
    width: 167px;
    height: 41px;
    padding-top: 5px;

    color: #231f20;
  }

  .page-footer__logo:hover {
    color: #46c1ae;
  }

  .page-footer__logo:active {
    color: #bde3dd;
  }

  .page-footer__copyright {
    width: 184px;
    margin: 0;
    margin-top: 25px;
    padding-bottom: 19px;

    text-align: left;
  }

  .page-footer__icon-link {
    right: -10px;
    top: -10px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 143px;
  }
}
