.page-header__wrapper {
  width: 100%;
}

.page-header__logo {
  position: relative;
  width: 260px;
  height: 40px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  text-align: center;
  background-color: #ffffff;
}



@media (min-width: $tablet-widths) {
  .page-header {
    @include container;
    min-height: 170px;
  }

  .page-header__logo {
    width: 50%;
    margin: 0;
    text-align: left;
    align-self: flex-start;
  }
}

@media (min-width: $desktop-widths) {
  .page-header {
    @include container;
  }
}
