.page {
  min-width: 320px;
  margin: 0;

  font-family: Open Sans, Arial, sans-serif;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

// picture {
//   font-size: 0;
// }

.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__catalog-title,
.page__order--title {
  @include titles;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 75px 0;
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

.page--underline {
  background: url(../img/bg-zigzag-line.svg);
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

.page-catalog__title-underline {
  display: none;
}

@media (min-width: $tablet-widths) {
  .page__catalog-title,
  .page__order--title  {
    position: relative;
    margin-bottom: 65px;
    padding: 94px 0;

    font-size: 43px;
    line-height: 50px;
  }

  .page-catalog__title-underline {
    display: block;
    position: absolute;

    bottom: 0;

    height: 23px;
    width: auto;
  }

  .page--underline {
    background-size: auto 17px;
  }
}

@media (min-width: $desktop-widths) {
  .page__catalog-title,
  .page__order--title {
    padding: 86px 0;
    margin-bottom: 144px;

    font-size: 53px;
    line-height: 57px;
  }

  .page-catalog__title-underline {
    height: 36px;
  }

  .page--underline {
    background-size: auto 23px;
  }

}
