.page-header__wrapper {
  width: 100%;
}

.page-header__logo {
  position: relative;
  width: 260px;
  height: 34px;
  margin: auto;
  padding-top: 27px;
  padding-bottom: 19px;

  text-align: center;
  background-color: #ffffff;
}



@media (min-width: $tablet-widths) {
  .page-header__wrapper {
    min-height: 90px;
  }

  .page-header {
    height: 90px;
    border-bottom: 2px solid #ececec;
  }

  .page-header__logo {
    width: 321px;
    margin: 0;

    text-align: left;
    align-self: flex-start;
    order: 0;
  }
}

@media (min-width: $desktop-widths) {
  .page-header {
    @include container;
  }

  .page-header__logo {
    width: 263px;

    order: 1;
  }
}
