.page-main__title {
  margin: auto;
  padding-top: 75px;
  padding-bottom: 120px;

  width: 260px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
  text-align: center;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-widths) {
  .page-main__title {
    width: 500px;
    padding-top: 96px;
    padding-bottom: 360px;

    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-widths) {
  .page-main__title {
    width: 700px;

    font-size: 53px;
    line-height: 57px;
  }
}
