.production__wrapper {
  @include container;
}

.production__item {
  margin: 0;
  margin-bottom: 26px;

  background-color: #ffffff;
}

.production__item:hover {
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.1);
}

.production__item:active {
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.1);
}

.production__desc {
  margin-top: 24px;
  padding-left: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid #ececec;
}

.production__name {
  margin: 0;
  width: 230px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.production__name-link {
  text-decoration: none;
}

.production__name:hover {
  color: #8d8d8d;
}

.production__name:active {
  color: #d5d5d5;
}

.production__name--video {
  position: relative;

  width: 170px;
  padding-top: 26px;
  padding-left: 90px;
  margin-bottom: 25px;

  border-top: 1px solid #ececec;
}

.production__name--video::before {
  position: absolute;
  content: "";
  top: 31px;
  left: 35px;

  width: 32px;
  height: 32px;

  background: url(../img/icon-video.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.production__order {
  position: relative;

}

.production__param {
  width: 200px;
  margin-top: 4px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  font-family: $main-font;
  color: #444444;
  border-bottom: 1px solid #ececec;
}

.production__price {
  padding-right: 99px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;


}

.production__basket-link {
  position: absolute;
  content: "";
  top: 0;
  right: 25px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: $tablet-widths) {
  .production__name {
    font-size: 20px;
    line-height: 24px;
  }

  .production__name--video {
    order: 2;
    padding-left: 108px;
    margin-top: 11px;
    margin-bottom: 33px;
    width: 250px;
  }

  .production__name--video::before {
    top: 24px;
    left: 40px;
  }

  .production__item {
    display: flex;
    margin-bottom: 55px;
  }

  .production__item:last-child {
    margin: 0;
  }

  .production__image {
    display: block;
    width: 334px;
  }

  .production__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 50%;

    border: 2px solid #ececec;
  }

  .production__info {
    margin-top: 23px;
    padding-left: 27px;
  }
  .production__order {
    margin-left: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 269px;

    border-top: 1px solid #ececec;
  }

  .production__basket-link {
    top: 22px;
    right: 0;
  }

  .production__param {
    width: 220px;
    font: $regular-font;
  }

  .production__price {
    padding-right: 140px;

    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-widths) {
  .production__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .production__name--video {
    position: absolute;
    right: 115px;

    padding: 0;
    padding-top: 96px;
    margin: 0;
    width: 175px;

    border: none;
  }

  .production__name--video::before {
    top: 38px;
    left: 2px;
  }

  .production__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 315px;
  }

  .production__image {
    width: 100%;
    // height: 462px;//временно для сетки
  }

  .production__desc {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    padding-top: 25px;
  }

  .production__param {
    margin: 0;
    margin-top: 6px;
    border: none;
  }

  .production__info {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    min-height: 95px;
  }

  .production__order {
    width: 266px;
    margin-left: 25px;
  }
}
