.production__wrapper {
  @include container;
}

.production__item {
  margin: 0;
  margin-bottom: 30px;

  background-color: #ffffff;
}

.production__desc {
  margin-top: 25px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.production__name {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.production__name:hover {
  color: #8d8d8d;
}

.production__name:active {
  color: #d5d5d5;
}

.production__name--video {
  padding-left: 90px;
  margin-bottom: 25px;
}

.production__param {
  margin-top: 10px;
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  font-family: $main-font;
  color: #444444;
}

.production__price {
  padding-right: 99px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

@media (min-width: $tablet-widths) {
  .production__name {
    font-size: 20px;
    line-height: 24px;
  }

  .production__name--video {
    order: 2;
    padding-left: 105px;
    margin-top: 40px;
  }

  .production__item {
    display: flex;
    margin-bottom: 55px;
  }

  .production__image {
    width: 50%;
  }

  .production__desc {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 50%;

    border: 2px solid #ececec;
  }

  .production__info {
    margin-top: 30px;
    margin-bottom: 184px;
    padding-left: 30px;
  }
  .production__order {
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .production__price {
    padding-right: 140px;

    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-widths) {
  .production__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .production__name--video {
    position: absolute;
    right: 115px;

    padding: 0;
    padding-top: 90px;
    margin: 0;
    width: 175px;

  }

  .production__item {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 315px;
  }

  .production__image {
    width: 100%;
    height: 462px;//временно для сетки
  }

  .production__desc {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    min-height: 200px;
    padding-top: 25px;
  }

  .production__param {
    margin: 0;
  }

  .production__info {
    margin: 0;
    width: 100%;
  }

  .production__order {
    width: 100%;
  }
}
