.production__wrapper {
  @include container;
}

.production__item {
  margin: 0;
  margin-bottom: 30px;

  background-color: #ffffff;
}

.production__desc {
  margin-top: 30px;
  padding-left: 30px;
}

.production__name {
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

.production__name--video {
  padding-left: 80px;
}

.production__param {
  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  font-family: $main-font;
  color: #444444;
}

.production__price {
  padding-right: 99px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  font-family: $main-font;
  color: #000000;
}

@media (min-width: $tablet-widths) {
  .production__name {
    font-size: 20px;
    line-height: 24px;
  }

  .production__name--video {
    order: 2;
  }

  .production__item {
    display: flex;
    margin-bottom: 55px;
  }

  .production__image {
    width: 50%;
  }

  .production__desc {
    padding: 0;
    width: 50%;
  }

  .production__info {
    margin-bottom: 200px;
    padding-left: 30px;
  }
  .production__order {
    padding-left: 30px;
  }

  .production__price {
    padding-right: 140px;
  }
}

@media (min-width: $desktop-widths) {
  .production__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .production__name--video {
    padding-top: 100px;
    width: 225px;
  }

  .production__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .production__desc {
    width: 100%;
  }

  .production__info {
    margin: 0;
  }
}
