.social-links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 18px;

  border-bottom: 1px solid #e5e5e5;
}

.social-links__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 60px;
  height: 50px;

  font-size: 0;

  color: #221f1f;
}

.social-links__item--instagram {
  // padding-top: 15px;
}

.social-links__item--facebook {
  // padding-top: 9px;
  // padding-left: 12px;
}

.social-links__item--twitter {
  // padding-top: 15px;
  // padding-left: 16px;
}

.social-links__item:hover {
  color: #46c1ae;
}

.social-links__item:active {
  color: #bde3dd;
}

@media (min-width: $tablet-widths) {
  .social-links {
    margin-top: 16px;
    margin-left: 18px;
    border: none;
  }

}
